# Postgres
DATABASE_HOST=127.0.0.1
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=root  

# Keycloak
PROXY_ADDRESS_FORWARDING=false
DB_VENDOR=POSTGRES
DB_ADDR=postgres
DB_DATABASE=keycloak
DB_SCHEMA=public
DB_USER=keycloak
DB_PASSWORD=password
KEYCLOAK_USER=keycloak
KEYCLOAK_PASSWORD=keycloak

# Hasura GraphQL
HASURA_GRAPHQL_DATABASE_URL=postgres://hasura:hasura@postgres:5432/hasura
HASURA_GRAPHQL_ADMIN_SECRET=skalex
KEYCLOAK_PUBLIC_KEY='MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlZ536K8wdbynAUE6mhMIplJc+H/R/tRtJnmFwupXHTanC6Wzz2Pdam0Lpj5S8LDtd4msImD8iYWyBLLrfcdlOxOqURfFFt3KlNGcpAHcqtnQwvO+v3FCMA7UtwRSOD4wtzaPUmmipyq8dPuqFrTuik1XOHu05Tz6MjRP2qf5ATafGzEkznWczfd8xVyiqom1myXycDLJcJ0/noDgDpxziG/p+AjbbgHOwyU19/IYkXHZuPaP5ZduCEiUhHBDciUCqP3VuOnQR1ckYTv6Rguoz073idyMMwf+gi8kqTXyWKW7IHDvpMu+RX5hNsgv+VEMrlXwk0AgrEehNe+b31GYOQIDAQAB'
HASURA_GRAPHQL_JWT_SECRET='{"type": "RS256", "key": "-----BEGIN CERTIFICATE-----\n${KEYCLOAK_PUBLIC_KEY}\n-----END CERTIFICATE-----"}'

# sf-status
PORT=8000
REACT_APP_PROVIDER_SOCKET=ws://sf-node:9944

# sf-explorer
WS_URL=ws://sf-node:9944
